<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">

<style>
#carImages {
    height: 500px;
    object-fit: cover;
}
</style>


<div class="row">
    <div class="col-6">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <% if (garagesale.images.length) { %>                
                <% garagesale.images.forEach((img, i) => { %>
                <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                    <img class="d-block w-100" src="<%= img.url %>" alt="" id="carImages">
                </div>
                <% }) %>
                <% } %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= garagesale.title %></h5>
                <p class="card-text"><%= garagesale.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= garagesale.location %></li>
                <li class="list-group-item"><span id="startdate"><%= garagesale.startdate %></span> - <span id="enddate"><%= garagesale.enddate %></span></li>
            </ul>
            <% if( currentUser && garagesale.author.equals(currentUser._id)) {%>
                <div class="card-body">
                    <a class="card-link btn btn-warning" href="/garagesales/<%= garagesale._id %>/edit">Edit</a>
                    <form class="d-inline" action="/garagesales/<%= garagesale._id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
            <div class="card-footer text-muted">
                Submitted by <%= garagesale.author.username %> on <span id="gstimestamp"><%= garagesale.timestamp %></span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div id="map"></div>
        <% if(currentUser) { %>
        <h2>Leave a Review</h2>
        <form action="/garagesales/<%= garagesale._id %>/reviews" method="post" class="mb-3 validated-form" novalidate>
            <div class="mb-0">
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div id="mb-3">
                <label for="body">Review</label>
                <textarea class="form-control" name="body" id="body" cols="30" rows="3" required></textarea>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% } else { %>
        <p><a href="/login">Log in</a> to leave a review</p>
        <% } %>
        <h2>Reviews</h2>
        <% for (let review of garagesale.reviews) { %>
            <div class="card mb-3">
                <div class="card-body">
                    
                    <p class="starability-result" data-rating="<%= review.rating %>">
                        Rated: <%= review.rating %>
                    </p>
                    <p class="card-text">Author: <%= review.author.username %> </p>
                    <p class="card-text" id="reviewdate"><%= review.timestamp %></p>               
                    <p class="card-text">Review: <%= review.body %></p>
                    <% if( currentUser && review.author.equals(currentUser._id)) {%>
                        <form action="/garagesales/<%=garagesale._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %>  
                </div>
            </div>
        <% } %>
    </div>
</div>

<script>
//Date and Time
const gstimestamp = document.querySelector("#gstimestamp");
const g = new Date(gstimestamp.innerText);
gstimestamp.innerText = g.toLocaleString();

const reviewdate = document.querySelector("#reviewdate");
if (reviewdate !== null) {
    const d = new Date(reviewdate.innerText);
    reviewdate.innerText = d.toDateString();
}

const startdate = document.querySelector("#startdate");
const sd0 = "<%= garagesale.startdate %>";
const sd1 = sd0.split(" ");
const sd2 = sd1[0] + ", " + sd1[1] + " " + sd1[2] + ", " + sd1[3] + ", " + sd1[4];
startdate.innerText = sd2;

const enddate = document.querySelector("#enddate");
const ed0 = "<%= garagesale.enddate %>";
const ed1 = ed0.split(" ");
const ed2 = ed1[0] + ", " + ed1[1] + " " + ed1[2] + ", " + ed1[3] + ", " + ed1[4];
enddate.innerText = ed2;

const startdateDate = new Date(sd0);
const enddateDate = new Date(ed0);
console.log(startdateDate < enddateDate);

//Google Maps
function initMap() {
    let lat = parseFloat(`<%= garagesale.lat %>`);
    let lng = parseFloat(`<%= garagesale.lng %>`);
    let center = {lat: lat, lng: lng };
    let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    let contentString = `
        <strong><%= garagesale.title %><br />
        <%= garagesale.location %></strong>
        <p><%= garagesale.description %></p>
    `;
    let infowindow = new google.maps.InfoWindow({
        content: contentString
    });
    let marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
        infowindow.open(map, marker);
    });
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbiIS9meJVLM8etepoq_nZr-4X39Wbemk&callback=initMap"></script>